#carouselExampleInterval
  .textContain
    width: 25%
    .btnPremios
      background: #00A82A
      display: block
      padding: 3.5%
      width: 90%
      margin: 2% auto
      border-radius: .5rem
      text-decoration: none
      color: #000
      font-weight: bold
    .btnPremios:hover
      background: #ffde01ff
    h1
      font-size: 1.5rem
    h2
      font-weight: normal
      font-size: 1.2rem