


@media screen and  (max-width: 990px)
  #InicioContain
    #carouselExampleInterval
      margin-top: 4rem !important
      .textContain
        width: auto
        img
          width: 3rem
          height: 3rem
    .premiosContainer
      .animationText
        span
          font-size: 1rem
          margin-left: 1rem
          width: 25rem
      .txtPremiosContain
        .txtPremio
          margin: 2% 0
          padding: 2%
          width: auto
          h3
            margin: 0% !important
            font-size: 1rem
  .boletosContain
    .infoTxtContain
      .promosContain
        h2
          padding: 2% !important
        .promosCardsContain
          gap: 2%
          padding: 0 2%
          .promosItem
            width: 100% !important
            font-size: 1rem !important
    .searchSelectContain
      .searchContain
        .searchInner
          width: 75% !important
        .btnLuckyMachine
          width: auto !important
        .luckyContain
          width: 80%
          .menuStripContain
            width: 80% !important
          .imageContainer
            margin: 0
            width: 100%
            img
              width: 100%
              height: 100%
            p
              font-size: 1.5rem
          form
            width: 80%
            top: 30%
            left: 10%
        .boletosCoinciden
          .coincidenListContain
            .boletoCoincideItem
              .boletoCardContain
                .boletoCardInner
                  h5
                    font-size: 1rem
      .selectTicketsContain
        .selectTicketsList
          .listTicketsContain
            .listTicketsInner
              .listTicketsCard
                h5
                  font-size: 1rem
        form
          width: 80%
          top: 5%
          right: 10%
      .ticketListContain
        .ticketsList
          .col
            .card
              .card-body
                h5
                  font-size: 1rem
  .adminPanelContain
    .formContain
      form
        width: 100%
        .inputContain
          width: 80%
          input
            width: 100%
    .boletosAdminContain
      .searchContain
        .searchInner
          width: 80% !important
        .boletosCoinciden
          .row
            .col
              .card
                .card-body
                  h5
                    font-size: 1rem
      .selectTicketsContain
        .row
          .col
            .card
              .card-body
                h5
                  font-size: 1rem
      .boletosAdminInner
        .row
          .col
            .card
              .card-body
                h5
                  font-size: 1rem
    .luckyContain
      width: 80%
      .imageContainer
        margin: 1rem
        width: 100%
        img
          width: 100%
          height: 100%



@media screen and  (max-width: 580px)

  #InicioContain
    nav
      height: 4rem
      .navbarInner
        .logoContain 
          gap: .5rem
          img
            width: 2.2rem
            height: 2.2rem
          .logoTextContain
            h2
              font-size: 1.5rem
        .navBurgerContain
          .offcanvas-header
            h5
              font-size: 1.5rem
    #carouselExampleInterval
      .textContain
        img
          width: 2rem
          height: 2rem
        .text-center
          h1
            font-size: 1rem !important
          h2
            font-size: .8rem
          .btnPremios
            display: none
    .premiosContainer
      .txtPremiosContain
        padding: 0 2% 
        .txtPremio
          h3
            font-size: .8rem
  .boletosContain
    .infoTxtContain
      .promosContain
        h2
          font-size: 1.5rem !important
        .promosCardsContain
          gap: 2%
          padding: 0 2%
          .promosItem
            width: 100% !important
            font-size: .8rem !important
      .infoSorteoContain
        p
          font-size: 1rem !important
    .searchSelectContain
      .searchContain
        .searchInner
          width: 95% !important
        .btnLuckyMachine
          font-size: 1rem !important
        .luckyContain
          width: 95%
          h2
            font-size: 1.5rem 
          .imageContainer
            width: 100%
            img
              width: 100%
              height: 100%
            p
              font-size: 1.3rem
          .boletosGeneratedContain
            .boletosGrid
              .col
                .card
                  .card-body
                    padding: 3%
                    h5
                      font-size: 1rem
          .btnApartarTickets
            width: auto
        .boletosCoinciden
          width: 100% !important
          display: flex
          justify-content: center
          .coincidenListContain
            width: 100%
            padding: 0
            .boletoCoincideItem
              .boletoCardContain
                .boletoCardInner
                  padding: 3%
                  h5
                    font-size: 1rem
      .selectTicketsContain
        width: 95%
        .btnApartar
          padding: 4% 11% !important
          font-size: 1rem !important
        .selectTicketsList
          .listTicketsContain
            .listTicketsInner
              .listTicketsCard
                padding: 3%
                h5
                  font-size: 1rem
        .formContain
          width: 95%
          top: 1%
          left: 2%
          .boletosClienteContain
            .boletosListGrid
              .col
                .card
                  .card-body
                    padding: 3%
                    h5
                      font-size: .8rem !important
      .ticketListContain
        width: 95%
        h4
          font-size: 1.5rem !important
        .ticketsList
          .col
            .card
              .card-body
                padding: 3%
                h5
                  font-size: 1rem
  .adminPanelContain
    .boletosAdminContain
      .searchContain
        width: 95%
        margin: 0 auto
        .searchInner
          width: 100% !important
          margin-bottom: 1rem !important
        .boletosCoinciden
          width: 100% !important
          .row
            .col
              .card
                .card-body
                  padding: 3%
                  h5
                    font-size: 1rem
      .selectTicketsContain
        .row
          .col
            .card
              .card-body
                padding: 3%
                h5
                  font-size: 1rem
      .boletosAdminInner
        .row
          .col
            .card
              .card-body
                padding: 3%
                h5
                  font-size: 1rem
    .luckyContain
      width: 95%
      h2
        font-size: 1.5rem 
      .imageContainer
        margin: 0
        padding: 0
        width: 100%
        img
          width: 100%
          height: 100%
        p
          font-size: 1.3rem



@media screen and  (max-width: 450px)
  #InicioContain
    nav
      height: 4rem
      .navbarInner
        .logoContain 
          gap: .5rem
          img
            width: 2rem
            height: 2rem
          .logoTextContain
            h2
              font-size: 1.2rem
        .navBurgerContain
          .offcanvas-header
            h5
              font-size: 1.5rem
    #carouselExampleInterval
      .textContain
        padding: .2rem !important
        img
          width: 2rem
          height: 2rem
        .text-center
          h1
            font-size: .9rem !important
            margin: 0
          h2
            font-size: .8rem
          .btnPremios
            display: none
    .premiosContainer
      .txtPremiosContain
        padding: 0 2% 
        .txtPremio
          height: 4.5rem !important
          border-radius: .5rem
          h3
            font-size: .8rem
  .boletosContain
    .infoTxtContain
      .promosContain
        h2
          font-size: 1.5rem !important
        .promosCardsContain
          display: flex !important
          flex-direction: column !important
          gap: .5rem !important
          .promosItem
            width: 100% !important
            font-size: .8rem !important
            padding: 1rem !important
            border-radius: .5rem  !important
      .infoSorteoContain
        p
          font-size: 1rem !important
    .searchSelectContain
      .searchContain
        .searchInner
          width: 95% !important
        .btnLuckyMachine
          font-size: 1rem !important
        .luckyContain
          width: 95%
          h2
            font-size: 1.2rem 
          .menuStripContain
            width: 95% !important
            font-size: .8rem
          .imageContainer
            margin: 0rem
            padding: 0
            width: 100%
            img
              width: 100%
              height: 100%
            p
              font-size: 1.3rem
              left: 20%
          .boletosGeneratedContain
            h6
              font-size: 1.2rem !important
            .boletosGrid
              .col
                .card
                  .card-body
                    padding: 3%
                    h5
                      font-size: 1rem
          .btnApartarTickets
            width: auto
            font-size: 1rem
          .formContain
            width: 95%
            left: 2%
            top: 20%
            .inputContain
              label
                font-size: 1.2rem
              input
                font-size: .8rem !important
            button
              width: auto
            .boletosClienteContain
              .boletosListGrid
                .col
                  .card
                    .card-body
                      padding: 3%
                      h5
                        font-size: 1rem 
        .boletosCoinciden
          width: 100% !important
          display: flex
          justify-content: center
          .coincidenListContain
            width: 100%
            padding: 0
            .boletoCoincideItem
              .boletoCardContain
                .boletoCardInner
                  padding: 3%
                  h5
                    font-size: 1rem
      .selectTicketsContain
        width: 95%
        .btnApartar
          padding: 4% 11% !important
          font-size: 1rem !important
        .selectTicketsList
          .listTicketsContain
            .listTicketsInner
              .listTicketsCard
                padding: 3%
                h5
                  font-size: 1rem
        .formContain
          width: 95%
          top: 1%
          left: 2%
          .inputContain
            label
              font-size: 1.2rem
            input
              font-size: .8rem
          button
            width: auto
          .boletosClienteContain
            h6
              font-size: 1.2rem
            .boletosListGrid
              .col
                .card
                  .card-body
                    padding: 3%
                    h5
                      font-size: 1rem 
      .ticketListContain
        width: 95%
        h4
          font-size: 1.5rem !important
        .ticketsList
          .col
            .card
              .card-body
                padding: 3%
                h5
                  font-size: 1rem
  .adminPanelContain
    .formContain
      form
        padding: 5%
        margin-top: 100%
        .inputContain
          width: 100%
          input
            width: 100%
    .boletosAdminContain
      .searchContain
        width: 95%
        margin: 0 auto
        .searchInner
          width: 100% !important
          margin-bottom: 1rem !important
        .boletosCoinciden
          width: 100% !important
          .row
            .col
              .card
                .card-body
                  padding: 3%
                  h5
                    font-size: 1rem
      .selectTicketsContain
        .row
          .col
            .card
              .card-body
                padding: 3%
                h5
                  font-size: 1rem
      .boletosAdminInner
        max-height: 60vh !important
        .row
          .col
            .card
              .card-body
                padding: 3%
                h5
                  font-size: 1rem
    .luckyContain
      width: 95%
      h2
        font-size: 1.2rem 
      .imageContainer
        margin: 0
        padding: 0
        width: 100%
        img
          width: 100%
          height: 100%
        p
          font-size: 1.2rem
      .boletosGeneratedContain
        h6
          font-size: 1.2rem


@media screen and  (max-width: 380px)
  #InicioContain
    nav
      height: 4rem
      .navbarInner
        .logoContain 
          gap: .5rem
          img
            width: 2rem
            height: 2rem
          .logoTextContain
            h2
              font-size: 1.2rem
        .navBurgerContain
          .offcanvas-header
            h5
              font-size: 1.5rem
    #carouselExampleInterval
      .textContain
        padding: .2rem !important
        img
          width: 2rem
          height: 2rem
        .text-center
          h1
            font-size: .9rem !important
            margin: 0
          h2
            font-size: .8rem
          .btnPremios
            display: none
    .premiosContainer
      .txtPremiosContain
        padding: 0 2% 
        .txtPremio
          height: 4.5rem !important
          border-radius: .5rem
          h3
            font-size: .8rem
  .boletosContain
    .infoTxtContain
      .promosContain
        h2
          font-size: 1.5rem !important
        .promosCardsContain
          display: flex !important
          flex-direction: column !important
          gap: .5rem !important
          .promosItem
            width: 100% !important
            font-size: .8rem !important
            padding: 1rem !important
            border-radius: .5rem  !important
      .infoSorteoContain
        p
          font-size: 1rem !important
    .searchSelectContain
      .searchContain
        .searchInner
          width: 95% !important
        .btnLuckyMachine
          font-size: 1rem !important
        .luckyContain
          width: 95%
          h2
            font-size: 1.2rem 
          .menuStripContain
            width: 95% !important
            font-size: .8rem
          .imageContainer
            margin: 0rem
            padding: 0
            width: 100%
            img
              width: 100%
              height: 100%
            p
              font-size: 1.3rem
              left: 20%
          .boletosGeneratedContain
            h6
              font-size: 1.2rem !important
            .boletosGrid
              .col
                .card
                  .card-body
                    padding: 3%
                    h5
                      font-size: 1rem
          .btnApartarTickets
            width: auto
            font-size: 1rem
          .formContain
            width: 95%
            left: 2%
            top: 20%
            .inputContain
              label
                font-size: 1.2rem
              input
                font-size: .8rem !important
            button
              width: auto
            .boletosClienteContain
              .boletosListGrid
                .col
                  .card
                    .card-body
                      padding: 3%
                      h5
                        font-size: 1rem 
        .boletosCoinciden
          width: 100% !important
          display: flex
          justify-content: center
          .coincidenListContain
            width: 100%
            padding: 0
            .boletoCoincideItem
              .boletoCardContain
                .boletoCardInner
                  padding: 3%
                  h5
                    font-size: 1rem
      .selectTicketsContain
        width: 95%
        .btnApartar
          padding: 4% 11% !important
          font-size: 1rem !important
        .selectTicketsList
          .listTicketsContain
            .listTicketsInner
              .listTicketsCard
                padding: 3%
                h5
                  font-size: 1rem
        .formContain
          width: 95%
          top: 1%
          left: 2%
          .inputContain
            label
              font-size: 1.2rem
            input
              font-size: .8rem
          button
            width: auto
          .boletosClienteContain
            h6
              font-size: 1.2rem
            .boletosListGrid
              .col
                .card
                  .card-body
                    padding: 3%
                    h5
                      font-size: 1rem 
      .ticketListContain
        width: 95%
        h4
          font-size: 1.5rem !important
        .ticketsList
          .col
            .card
              .card-body
                padding: 3%
                h5
                  font-size: 1rem
  .adminPanelContain
    .formContain
      form
        padding: 5%
        margin-top: 100%
        .inputContain
          width: 100%
          input
            width: 100%
    .boletosAdminContain
      .searchContain
        width: 95%
        margin: 0 auto
        .searchInner
          width: 100% !important
          margin-bottom: 1rem !important
        .boletosCoinciden
          width: 100% !important
          .row
            .col
              .card
                .card-body
                  padding: 3%
                  h5
                    font-size: 1rem
      .selectTicketsContain
        .row
          .col
            .card
              .card-body
                padding: 3%
                h5
                  font-size: 1rem
      .boletosAdminInner
        max-height: 60vh !important
        .row
          .col
            .card
              .card-body
                padding: 3%
                h5
                  font-size: 1rem
    .luckyContain
      width: 95%
      h2
        font-size: 1.2rem 
      .imageContainer
        margin: 0
        padding: 0
        width: 100%
        img
          width: 100%
          height: 100%
        p
          font-size: 1.2rem
      .boletosGeneratedContain
        h6
          font-size: 1.2rem



